# compiled files
/target/

# local env properties
*.log
*.tmp
*.bak
*.swp
*.lock
*.db
.env
*.env

# OS files
.DS_Store

# IDE settings
.idea/
*.iml
.vscode/

# Maven specific
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd
